@font-face {
  font-family: "Metropolis";
  src: url("../../assets/fonts/Metropolis-Regular.otf");
}
.container {
  background-color: #ffffff;
  display: flex;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  width: calc((850 / 1440) * 100vw);
  padding: 3%;
  height: calc((850 / 1440) * 1440);
  flex-direction: column;
}
.header {
  width: 100%;
  height: 15%;
  display: flex;
  border-bottom: 1px solid #d4d4d4;
  flex-direction: column;
}
.title {
  font-family: "Metropolis";
  font-weight: 600;
  font-size: 20px;
  color: #222222;
  line-height: 24px;
}
.subtitle {
  margin-top: 5px;
  font-family: "Metropolis";
  font-weight: 500;
  font-size: 14px;
  color: #9b9b9b;
  line-height: 24px;
}
.formcontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.form {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: flex-start;
}
.itemform {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.label {
  font-family: "Metropolis";
  display: flex;
  flex: 1;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 14px;
  color: #9b9b9b;
  align-items: center;
  margin-right: 10px;
}
.inputcontainer {
  display: flex;
  flex: 3;
  padding: 2px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.radioselectcontainer {
  display: flex;
  flex: 3;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.input {
  width: 80%;
  height: 30px;
  border: 1px solid #8e8e93;
  color: black;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 4px;
  font-size: 16px;
  padding-left: 7px;
  outline: none;
}
.select {
  width: 20%;
  height: 30px;
  border: 1px solid #8e8e93;
  color: black;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 4px;
  margin-right: 20px;
}
.radioselect {
  width: 10%;
  height: 30px;
  color: black;
  text-align: left;
  margin-left: -10px;
}
.labelradio {
  margin-left: -10px;
  margin-right: 10px;
}
.imagecontainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: red; */
}
.boximage {
  width: 100%;
  border-left: 1px solid #d4d4d4;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerimage {
  width: 111px;
  height: 111px;
  overflow-y: hidden;
  border-radius: 111px;
}
.imageprofile {
  width: 111px;
  height: auto;
}
.btnedit {
  border-radius: 24px;
  border: 1px solid #9b9b9b;
  width: 140px;
  height: 36px;
  margin-top: 20px;
  background-color: transparent;
  cursor: pointer;
  color: #9b9b9b;
  font-size: 13px;
}
.btnsave {
  background: #db3022;
  border-radius: 25px;
  width: 100px;
  height: 36px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
}
.hiddeninput {
  visibility: hidden;
}
