.body {
	/* background-color: red; */
	padding: 150px;
}
.topContainer {
	display: flex;
	flex-direction: row;
}
.productMainImg {
	width: 378px;
	height: 378px;
	border-radius: 10px;
}

.exampleImg {
	width: 65px;
	height: 65px;
	margin-top: 17px;
	margin-right: 13px;
	border-radius: 10px;
}

.colorContainer {
	width: 100%;
	flex-direction: "row";
	display: "flex";
}
.colorBtn {
	height: 36px;
	width: 36px;
	margin-right: 10px;
	border: 0;
	border-radius: 50%;
	/* background-color: #DB3022; */
}
.sizeQtyTxtCont {
	/* flexDirection: 'row', display: 'flex', marginTop: 40 */
	flex-direction: row;
	display: flex;
	margin-top: 40px;
}
.sizeQtyTxt {
	/* fontWeight: 600, fontSize: 16, marginRight: 159 */
	font-weight: 600;
	font-size: 16px;
	margin-right: 159px;
}
.sizeQtyAct {
	width: 100%;
	flex-direction: row;
	display: flex;
}
.sizeQtyActCont {
	width: 100%;
	flex-direction: row;
	display: flex;
}
.sizeQtyBtn {
	/* height: 36, width: 36, border: 0, borderRadius: '50%', */
	height: 36px;
	width: 36px;
	border: 0;
	border-radius: 50%;
}
.actionBtnContainer {
	width: 100%;
	margin-top: 40px;
	flex-direction: "row";
	display: "flex";
	/* margin-right: 10px; */
}

.chatAddBtn {
	background-color: white;
	/* border-color: black; */
	width: 160px;
	height: 48px;
	border-radius: 24px;
	font-weight: 400;
	font-size: 14px;
	margin-right: 10px;
	border: 1.5;
	border-style: solid;
	border-color: black;
}
.buyBtn {
	/* backgroundColor: '#DB3022', border: 0, width: 343, height: 48, borderRadius: 24, fontWeight: 500, fontSize: 14, color: 'white'  */
	background-color: #db3022;
	border: 0;

	width: 343px;
	height: 48px;
	border-radius: 24px;
	font-weight: 500;
	font-size: 14px;
	color: white;
}

.ratingContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.ratingText {
	align-self: center;
	margin: 0;
	height: 100%;
	margin: auto 0 auto 0;
	/* line-height: 20px; */
}

.star {
	width: 13px;
	height: 12px;
	align-self: center;
}

.starImg {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
